@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header-style {
  background-image: linear-gradient(45deg, rgba(17, 21, 79, 0.8) 0%, rgba(17, 21, 79, 0.8) 12.5%,rgba(27, 87, 118, 0.8) 12.5%, rgba(27, 87, 118, 0.8) 25%,rgba(32, 120, 137, 0.8) 25%, rgba(32, 120, 137, 0.8) 37.5%,rgba(36, 154, 156, 0.8) 37.5%, rgba(36, 154, 156, 0.8) 50%,rgba(46, 220, 195, 0.8) 50%, rgba(46, 220, 195, 0.8) 62.5%,rgba(22, 54, 98, 0.8) 62.5%, rgba(22, 54, 98, 0.8) 75%,rgba(41, 187, 175, 0.8) 75%, rgba(41, 187, 175, 0.8) 87.5%,rgba(51, 253, 214, 0.8) 87.5%, rgba(51, 253, 214, 0.8) 100%),linear-gradient(0deg, rgb(92, 231, 151),rgb(43, 141, 123));
}

.bg-panel {
  background-image: linear-gradient(90deg, rgb(160, 222, 219),rgb(3, 165, 209));
}

.bg-subtle {
  background-image: repeating-linear-gradient(45deg, rgba(226, 226, 226,0.06) 0px, rgba(226, 226, 226,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

.bg-bluecircle {
  background-image: linear-gradient(229deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(239deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(141deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(287deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(90deg, rgb(53, 166, 233),rgb(17, 240, 126));
}